@model IEnumerable<SSDES.Models.STUDENT_INFO>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Students</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/favicon_.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor-/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts-/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor-/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor-/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor-/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css-/util.css">
    <link rel="stylesheet" type="text/css" href="~/css-/main.css">
    <!--===============================================================================================-->
    <style>
 body{
  background-color: #FBFAF6;
}

 table{
     margin-left:150px;
     margin-top:35px;
     font-size:6px;
 }

 h1{
     margin-left:150px;
     color:#064579;
 }

 button{
     margin-left:150px;
     border: none;
     background:linear-gradient( #80ff72, #7ee8fa);
     border-radius:20px;
     width:350px;
     height:50px;
 }
 .inline {
   display:inline-block;
   margin-right:5px;
 
}

  .select {
            margin-left: 130px;
            border: none;
            background: linear-gradient( #80ff72, #7ee8fa);
            border-radius: 20px;
            width: 350px;
            height: 50px;
        }

 body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background:linear-gradient( #80ff72, #7ee8fa);
  overflow-x: hidden;
  padding: 8px 0;
  height:640px;
  border-radius:21px;
  margin-top:-15px;
  overflow: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  margin-left:25px;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 200px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-top:-20px;
}

 .current {
  width: 400px;
  position: fixed;
  background-image: url('../../MigoPlanter-ForestGreen_1024x1024.jpg');
  overflow-x: hidden;
  padding: 8px 0;
  height:580px;
  border-radius:21px;
  margin-left:1050px;
  margin-top:-580px;
        }



    </style>
</head>
<body>
    <div class="sidenav">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" onclick="window.history.go(-1); return false;">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="http://localhost:52389/Student/Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" onclick="@("window.location.href='" + @Url.Action("Search", "Student") + "'");">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </a>
        <a href="http://localhost:52389/Home/Admin_Dashbaord">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16" onclick="@("window.location.href='" + @Url.Action("Admin_Dashbaord", "Home") + "'");">
                <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z" />
            </svg>
        </a>
        <a href="http://localhost:52389/Student/Bookings">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16" >
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            </svg>
        </a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#about"></a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16" onclick="@("window.location.href='" + @Url.Action("Login", "Home") + "'");">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
            </svg>
        </a>
    </div>
    <div class="banner">
        <h1>Students Information</h1><br />
        <button class="inline" onclick="@("window.location.href='" + @Url.Action("New", "Student") + "'");">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg> Add New Student
        </button>
        <button class="inline" onclick="@("window.location.href='" + @Url.Action("Search", "Student") + "'");">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg> Search Student
        </button>
        <button class="select" onclick="@("window.location.href='" + @Url.Action("Students", "Student",new { option = ViewBag.SortNameParameter }) + "'");">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
            </svg> Sort Database
        </button>
    </div>
            <div class="wrap-table100">
                    <table class="table">
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">
                                    @Html.DisplayNameFor(model => model.Stid )
                                </th>
                                <th class="column2">
                                    @Html.DisplayNameFor(model => model.FIRST_NAME)
                                </th>
                                <th class="column3">
                                    @Html.DisplayNameFor(model => model.LAST_NAME)
                                </th>
                                <th class="column4">
                                    @Html.DisplayNameFor(model => model.GENDER)
                                </th>
                                <th class="column5">
                                    @Html.DisplayNameFor(model => model.AGE)
                                </th>
                                <th class="column6">
                                    @Html.DisplayNameFor(model => model.ADMISSION_DATE)
                                </th>
                                <th class="column7">
                                    @Html.DisplayNameFor(model => model.COURSE_NAME)
                                </th>
                                <th class="column8">
                                    @Html.DisplayNameFor(model => model.COURSE_DURATION)
                                </th>
                                <th class="column9">
                                    @Html.DisplayNameFor(model => model.COURSE_TRAINER)
                                </th>
                                <th class="column10">
                                    @Html.DisplayNameFor(model => model.EMAIL_ADDRESS)
                                </th>
                                <th class="column11">
                                    @Html.DisplayNameFor(model => model.CONTACT_NUMBER)
                                </th>
                                <th class="column12">
                                    @Html.DisplayNameFor(model => model.YEAR_IN_COLLEGE)
                                </th>
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr onclick="@("window.location.href='" + @Url.Action("Details", "Student",new { id = item.Stid }) + "'");">
                                    <td class="column1">
                                        @Html.DisplayFor(modelItem => item.Stid)
                                    </td>
                                    <td class="column2">
                                        @Html.DisplayFor(modelItem => item.FIRST_NAME)
                                    </td>
                                    <td class="column3">
                                        @Html.DisplayFor(modelItem => item.LAST_NAME)
                                    </td>
                                    <td class="column4">
                                        @Html.DisplayFor(modelItem => item.GENDER)
                                    </td>
                                    <td class="column5">
                                        @Html.DisplayFor(modelItem => item.AGE)
                                    </td>
                                    <td class="column6">
                                        @Html.DisplayFor(modelItem => item.ADMISSION_DATE)
                                    </td>
                                    <td class="column7">
                                        @Html.DisplayFor(modelItem => item.COURSE_NAME)
                                    </td>
                                    <td class="column8">
                                        @Html.DisplayFor(modelItem => item.COURSE_DURATION)
                                    </td>
                                    <td class="column9">
                                        @Html.DisplayFor(modelItem => item.COURSE_TRAINER)
                                    </td>
                                    <td class="column10">
                                        @Html.DisplayFor(modelItem => item.EMAIL_ADDRESS)
                                    </td>
                                    <td class="column11">
                                        @Html.DisplayFor(modelItem => item.CONTACT_NUMBER)
                                    </td>
                                    <td class="column12">
                                        @Html.DisplayFor(modelItem => item.YEAR_IN_COLLEGE)
                                    </td>
                                    <!--
                                    <td>
                                    </td>
                                       -->
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>


                    <!--===============================================================================================-->
                    <script src="~/vendor-/jquery/jquery-3.2.1.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/vendor-/bootstrap/js/popper.js"></script>
                    <script src="~/vendor-/bootstrap/js/bootstrap.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/vendor-/select2/select2.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/js-/main.js"></script>
</body>
</html>
